Repository vllm-project/vllm-spyre, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joerunde, @prashantgupta24, @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic, @rafvasq, @ckadner

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# These owners will be the default owners for everything in the repo
# and will be requested for review when someone opens a pull request
# unless a later match takes precedence
* @joerunde @prashantgupta24

# This lists cover the "core" components of vLLM-Spyre that require careful review
/vllm_spyre @yannicks1 @tdoublep @nikolaospapandreou @sducouedic

# TODO: separate code into different packages:
#   /vllm_spyre/v1/worker/continuous_batching @nikolaospapandreou
#   /vllm_spyre/v1/worker/static_batching ...

# Tests
/tests @rafvasq @prashantgupta24 @sducouedic

# Examples
/examples @yannicks1 @prashantgupta24 @sducouedic

# Docs
/docs @rafvasq
.readthedocs.yaml @rafvasq
mkdocs.yaml @rafvasq

# CI
/.github @joerunde @ckadner

🎨 include review comment
  docs/contributing/README.md
Owners: @rafvasq

[docs] add debugging docs (#235)
  docs/contributing/README.md
  pyproject.toml
  tools/check_aiu.sh
Owners: @rafvasq, @joerunde, @prashantgupta24

:alembic: try reverting graph changes
  vllm_spyre/model_executor/model_loader/spyre.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

:bug: oops
  vllm_spyre/model_executor/model_loader/spyre.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

:art: fmt
  vllm_spyre/model_executor/model_loader/spyre.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

use hf to test cb
  tests/e2e/test_spyre_cb.py
  tests/spyre_util.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

enable full tests for heterogeneous tkv (with left padding)
  tests/e2e/test_spyre_cb_heterog_tkv.py
  vllm_spyre/v1/core/scheduler.py
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @rafvasq, @prashantgupta24, @sducouedic, @yannicks1, @tdoublep, @nikolaospapandreou

merging main into branch, renaming script
  tests/e2e/test_spyre_cb_heterog_tkv.py
  tests/e2e/test_spyre_cb_homog_tkv.py
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @rafvasq, @prashantgupta24, @sducouedic, @yannicks1, @tdoublep, @nikolaospapandreou

fix formatting
  tests/e2e/test_spyre_cb_heterog_tkv.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

remove obsolete comments
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

make generate_spyre_vllm_output more generic and use it instead of generate_cb_spyre_vllm_output
  tests/e2e/test_spyre_basic.py
  tests/e2e/test_spyre_cb.py
  tests/e2e/test_spyre_max_new_tokens.py
  tests/e2e/test_spyre_seed.py
  tests/e2e/test_spyre_tensor_parallel.py
  tests/e2e/test_spyre_warmup_shapes.py
  tests/spyre_util.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

set free blocks for warmup consistent with KV cache dimension
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

fix right padding, activate with env var
  vllm_spyre/envs.py
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

enable right padding tests
  tests/e2e/test_spyre_cb_heterog_tkv.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

Support both paged and non-paged attention (#162)
  .github/workflows/test.yml
  pyproject.toml
  tests/e2e/test_spyre_cb.py
  uv.lock
  vllm_spyre/model_executor/model_loader/spyre.py
  vllm_spyre/v1/worker/spyre_model_runner.py
  vllm_spyre/v1/worker/spyre_worker.py
  vllm_spyre/worker/spyre_worker.py
Owners: @joerunde, @ckadner, @prashantgupta24, @rafvasq, @sducouedic, @yannicks1, @tdoublep, @nikolaospapandreou

feat: removing vllm v0 tests
  tests/conftest.py
  tests/e2e/test_spyre_basic.py
  tests/e2e/test_spyre_max_new_tokens.py
  tests/e2e/test_spyre_online.py
  tests/e2e/test_spyre_online_multi.py
  tests/e2e/test_spyre_seed.py
  tests/e2e/test_spyre_tensor_parallel.py
  tests/spyre_util.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

feat: removed one more test case
  tests/e2e/test_spyre_online.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

docs: minor comment update
  tests/e2e/test_spyre_embeddings.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

style: fix linting
  tests/e2e/test_spyre_basic.py
  tests/e2e/test_spyre_embeddings.py
  tests/e2e/test_spyre_online.py
  tests/e2e/test_spyre_online_multi.py
  tests/e2e/test_spyre_seed.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

feat: remove V0 from test matrix
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

:goal_net: disable v0 decoders
  vllm_spyre/platform.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

🔥 remove v0 and v1 markers
  .github/workflows/test.yml
  docs/contributing/README.md
  pyproject.toml
  tests/e2e/test_spyre_cb.py
  tests/e2e/test_spyre_embeddings.py
  tests/e2e/test_spyre_static_batching_limits.py
  tests/e2e/test_spyre_warmup_shapes.py
  tests/spyre_util.py
Owners: @joerunde, @ckadner, @rafvasq, @prashantgupta24, @sducouedic

🐛 fix typo
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

🎨 fmt
  tests/e2e/test_spyre_embeddings.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

🎨 fmt
  tests/e2e/test_spyre_embeddings.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

🐛 remove vllm_version fixture
  tests/e2e/test_spyre_online.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

🎨 add embeddings as a separate suite
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

:recycle: make config setup more readable
  vllm_spyre/platform.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

[refact] Remove V0 tests (#241)
  .github/workflows/test.yml
  docs/contributing/README.md
  pyproject.toml
  tests/conftest.py
  tests/e2e/test_spyre_basic.py
  tests/e2e/test_spyre_cb.py
  tests/e2e/test_spyre_embeddings.py
  tests/e2e/test_spyre_max_new_tokens.py
  tests/e2e/test_spyre_online.py
  tests/e2e/test_spyre_online_multi.py
  tests/e2e/test_spyre_seed.py
  tests/e2e/test_spyre_static_batching_limits.py
  tests/e2e/test_spyre_tensor_parallel.py
  tests/e2e/test_spyre_warmup_shapes.py
  tests/spyre_util.py
Owners: @joerunde, @ckadner, @rafvasq, @prashantgupta24, @sducouedic

:goal_net: disable v0 decoders (#242)
  vllm_spyre/platform.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

:bug: limit max model length and batch size
  tests/e2e/test_spyre_cb.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

:bug: 64 is not supported
  tests/e2e/test_spyre_cb.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

🐛 fix runtime msg
  vllm_spyre/platform.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

🐛 fix runtime msg (#244)
  vllm_spyre/platform.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

hack for new class parameter introduced in upstream
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

use getmember instead of function inspection
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

Revert "use getmember instead of function inspection"
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

check dataclass fields instead of inspect
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

correct typo
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

also 'pooler_output' is a new param in upstream
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic
