Repository vllm-project/vllm-spyre, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joerunde, @prashantgupta24, @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic, @rafvasq, @ckadner

introduce index instead of only_last_token
  vllm_spyre/model_executor/model_loader/spyre.py
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

install fms from feature branch for testing
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

fix install
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

fix tests
  tests/e2e/test_spyre_cb_heterog_tkv.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

fix tests cb
  tests/e2e/test_spyre_cb_heterog_tkv.py
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @rafvasq, @prashantgupta24, @sducouedic, @yannicks1, @tdoublep, @nikolaospapandreou

testing parameters
  examples/offline_inference/cb_spyre_inference.py
Owners: @yannicks1, @prashantgupta24, @sducouedic

fix fmt
  examples/offline_inference/cb_spyre_inference.py
Owners: @yannicks1, @prashantgupta24, @sducouedic

remove reference to fms feature branch
  docs/contributing/README.md
  examples/offline_inference/cb_spyre_inference.py
Owners: @rafvasq, @yannicks1, @prashantgupta24, @sducouedic

[CB] remove reference to outdated fms feature branch (#269)
  docs/contributing/README.md
  examples/offline_inference/cb_spyre_inference.py
Owners: @rafvasq, @yannicks1, @prashantgupta24, @sducouedic

add assertion for batch size >= 2 for decodes
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

additional prefill in warmup to fix TTFT
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

[CB] use used block ids for dummy batch size 2 (#259)
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

try using OMP_NUM_THREADS=1 to allow non-forked tests
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

try spawn instead of OMP_NUM_THREADS=1
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

🚨 set dtype=float16 for CPU as well
  vllm_spyre/model_executor/model_loader/spyre.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

🚨 set dtype=float16 for tests
  tests/spyre_util.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

🚧 try bf16
  vllm_spyre/model_executor/model_loader/spyre.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

🐛 req_ids is now a list
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

🐛 req_ids is now a list
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

♻️ using cached requests
  vllm_spyre/v1/worker/spyre_model_runner.py
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

:white_check_mark: passing tests for bs=1
  tests/expected_prompt_logprobs.json
  vllm_spyre/envs.py
  vllm_spyre/model_executor/model_loader/spyre.py
  vllm_spyre/platform.py
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @rafvasq, @prashantgupta24, @sducouedic, @yannicks1, @tdoublep, @nikolaospapandreou

:bug: actually include test file
  tests/e2e/test_spyre_prompt_logprobs.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

:bug: add decoder marks too
  tests/e2e/test_spyre_prompt_logprobs.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

Remove xgrammar install step
  docs/contributing/README.md
Owners: @rafvasq

[CB] additional prefill in warmup to fix TTFT (#270)
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

[Docs] Remove xgrammar install step (#275)
  docs/contributing/README.md
Owners: @rafvasq

:alembic: add more prompts and cpu validation
  examples/offline_inference/cb_spyre_inference.py
Owners: @yannicks1, @prashantgupta24, @sducouedic

fix casting for mypy
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

:alembic: add more prompts and cpu validation (#276)
  examples/offline_inference/cb_spyre_inference.py
Owners: @yannicks1, @prashantgupta24, @sducouedic

🐛 first pass for sb
  vllm_spyre/v1/worker/spyre_model_runner.py
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# These owners will be the default owners for everything in the repo
# and will be requested for review when someone opens a pull request
# unless a later match takes precedence
* @joerunde @prashantgupta24

# This lists cover the "core" components of vLLM-Spyre that require careful review
/vllm_spyre @yannicks1 @tdoublep @nikolaospapandreou @sducouedic

# TODO: separate code into different packages:
#   /vllm_spyre/v1/worker/continuous_batching @nikolaospapandreou
#   /vllm_spyre/v1/worker/static_batching ...

# Tests
/tests @rafvasq @prashantgupta24 @sducouedic

# Examples
/examples @yannicks1 @prashantgupta24 @sducouedic

# Docs
/docs @rafvasq
.readthedocs.yaml @rafvasq
mkdocs.yaml @rafvasq

# CI
/.github @joerunde @ckadner
