Repository vllm-project/vllm-spyre, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joerunde, @prashantgupta24, @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic, @rafvasq, @ckadner

refact: execute model
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

refact: minor changes
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

refact: address nit
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

refact: removed unnecessary line
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

refact: some nits
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

:alembic: try to swap to tiny granite
  .github/workflows/test.yml
  _local_envs_for_test.sh
  docs/contributing/README.md
  examples/offline_inference/cb_spyre_inference.py
  examples/offline_inference/multi_spyre_inference.py
  tests/spyre_util.py
Owners: @joerunde, @ckadner, @prashantgupta24, @rafvasq, @yannicks1, @sducouedic

:bug: mkdir before linking
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

:art: fmt
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

refact: address nit
  vllm_spyre/v1/worker/spyre_input_batch.py
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

:alembic: use hf hub cache in tests
  .github/workflows/test.yml
  tests/spyre_util.py
Owners: @joerunde, @ckadner, @rafvasq, @prashantgupta24, @sducouedic

:zap: turn down abort test
  tests/e2e/test_spyre_async_llm.py
  tests/spyre_util.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

:zap: try to run tinyllama for sb tests
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

:bug: fixup env setting
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

:alembic: try other env setting methos
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

🎨
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

:bug: use default model if env var is empty
  tests/spyre_util.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

🎨 with quotes
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

🎨
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

remove env
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

:zap: turn down warmup shapes test
  tests/e2e/test_spyre_warmup_shapes.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

:zap: turn down seed test
  tests/e2e/test_spyre_seed.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

:zap: turn down online test
  tests/e2e/test_spyre_online.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

:zap: turn down online (gptq) test
  tests/e2e/test_spyre_online.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

:zap: turn down basic test
  tests/e2e/test_spyre_basic.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

fix typo
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

:zap: turn down max tokens tests
  tests/e2e/test_spyre_max_new_tokens.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

make mask contiguous
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

:bug::fire: rm prompts arg
  tests/e2e/test_spyre_max_new_tokens.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

:zap: turn down seed test more
  tests/e2e/test_spyre_seed.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

:fire: remove commented test.yml bit
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

refact: nit
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

🍱 Swap tests to tiny granite (#264)
  .github/workflows/test.yml
  _local_envs_for_test.sh
  docs/contributing/README.md
  examples/offline_inference/cb_spyre_inference.py
  examples/offline_inference/multi_spyre_inference.py
  tests/e2e/test_spyre_async_llm.py
  tests/e2e/test_spyre_basic.py
  tests/e2e/test_spyre_max_new_tokens.py
  tests/e2e/test_spyre_online.py
  tests/e2e/test_spyre_seed.py
  tests/e2e/test_spyre_warmup_shapes.py
  tests/spyre_util.py
Owners: @joerunde, @ckadner, @prashantgupta24, @rafvasq, @yannicks1, @sducouedic

🎨 fmt
  tests/e2e/test_spyre_async_llm.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

[CB] refactoring spyre model runner (#172)
  tests/e2e/test_spyre_basic.py
  tests/v1/worker/test_spyre_input_batch.py
  vllm_spyre/model_executor/model_loader/spyre.py
  vllm_spyre/v1/worker/spyre_input_batch.py
  vllm_spyre/v1/worker/spyre_model_runner.py
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @rafvasq, @prashantgupta24, @sducouedic, @yannicks1, @tdoublep, @nikolaospapandreou

:alembic: try prompt logprobs
  vllm_spyre/model_executor/model_loader/spyre.py
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

🚨 set dtype=float16 for CPU as well
  vllm_spyre/model_executor/model_loader/spyre.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

🚨 set dtype=float16 for tests
  tests/spyre_util.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

solve merge conflict
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

block size lower case, adapting to model runner
  vllm_spyre/v1/core/scheduler.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

try using OMP_NUM_THREADS=1 to allow non-forked tests
  .github/workflows/test.yml
Owners: @joerunde, @ckadner

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# These owners will be the default owners for everything in the repo
# and will be requested for review when someone opens a pull request
# unless a later match takes precedence
* @joerunde @prashantgupta24

# This lists cover the "core" components of vLLM-Spyre that require careful review
/vllm_spyre @yannicks1 @tdoublep @nikolaospapandreou @sducouedic

# TODO: separate code into different packages:
#   /vllm_spyre/v1/worker/continuous_batching @nikolaospapandreou
#   /vllm_spyre/v1/worker/static_batching ...

# Tests
/tests @rafvasq @prashantgupta24 @sducouedic

# Examples
/examples @yannicks1 @prashantgupta24 @sducouedic

# Docs
/docs @rafvasq
.readthedocs.yaml @rafvasq
mkdocs.yaml @rafvasq

# CI
/.github @joerunde @ckadner
