Repository vllm-project/vllm-spyre, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joerunde, @prashantgupta24, @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic, @rafvasq, @ckadner

update vllm_version mark
  tests/e2e/test_spyre_async_llm.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

Use hugging face as baseline to test CB output (#240)
  tests/e2e/test_spyre_basic.py
  tests/e2e/test_spyre_cb.py
  tests/e2e/test_spyre_max_new_tokens.py
  tests/e2e/test_spyre_seed.py
  tests/e2e/test_spyre_tensor_parallel.py
  tests/e2e/test_spyre_warmup_shapes.py
  tests/spyre_util.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

🎨 change max_model_len to 256
  tests/e2e/test_spyre_cb.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

🎨 edit HF test description
  tests/e2e/test_spyre_cb.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

🎨 moving max_num_seqs down as a performance improvement
  tests/e2e/test_spyre_cb.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

🎨 add some xfails
  tests/e2e/test_spyre_cb.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

remove v0 mark from test_abort tests
  tests/e2e/test_spyre_async_llm.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

use a very small non-zero sleep
  tests/e2e/test_spyre_async_llm.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

debug logs when actually freeing blocks
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

remove unused args from test generate
  tests/e2e/test_spyre_async_llm.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

✅ add test for batch handling
  tests/e2e/test_spyre_cb.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

🎨 fmt
  tests/e2e/test_spyre_cb.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

🐛 fix typo
  tests/e2e/test_spyre_cb.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

🎨 shifting xfail to test function
  tests/e2e/test_spyre_cb.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

remove dummy_req_ids2blocks, instead duplicate tensors
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

fix format
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

first implementation of optimization
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

feat: use empty model runner output
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

style: fix linting
  vllm_spyre/v1/worker/spyre_input_batch.py
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

fix adding new blocks
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

docs: small doc update
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

fix: tests failing in spyre card
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

fix: avoid KeyError when cancelling requests that have not been processed (#233)
  pyproject.toml
  tests/e2e/test_spyre_async_llm.py
  uv.lock
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @joerunde, @prashantgupta24, @rafvasq, @sducouedic, @yannicks1, @tdoublep, @nikolaospapandreou

refact: code cleanup refact: renamed methods of model runner
  vllm_spyre/model_executor/model_loader/spyre.py
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

:bug: xfail properly
  tests/conftest.py
  tests/e2e/test_spyre_cb.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

:recycle: combine sb and cb batch handling tests
  tests/e2e/test_spyre_basic.py
  tests/e2e/test_spyre_cb.py
  tests/spyre_util.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

replace current_platform with SpyrePlatform
  vllm_spyre/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

refact: model.indices
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

refact: execute model
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

:art: update tests from review comments
  tests/e2e/test_spyre_basic.py
  tests/e2e/test_spyre_cb.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

refact: execute model for CB
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

✅ CB tests refactoring + adding batch test (#257)
  tests/conftest.py
  tests/e2e/test_spyre_basic.py
  tests/e2e/test_spyre_cb.py
  tests/spyre_util.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

fix: return output from execute model
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

fix: out tkv for empty execution
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

fix: CBSpyreModelRunnerOutput
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

[v0] replace current_platform with SpyrePlatform (#263)
  vllm_spyre/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

feat: removed xfail from test_cb_output
  tests/e2e/test_spyre_cb.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

env var to overwrite number of blocks available
  vllm_spyre/envs.py
  vllm_spyre/model_executor/model_loader/spyre.py
  vllm_spyre/v1/worker/spyre_model_runner.py
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

adding CB scheduler test against number of free blocks
  tests/e2e/test_spyre_cb.py
  vllm_spyre/v1/core/scheduler.py
Owners: @rafvasq, @prashantgupta24, @sducouedic, @yannicks1, @tdoublep, @nikolaospapandreou

feat: remove xfail from cb test
  tests/e2e/test_spyre_basic.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# These owners will be the default owners for everything in the repo
# and will be requested for review when someone opens a pull request
# unless a later match takes precedence
* @joerunde @prashantgupta24

# This lists cover the "core" components of vLLM-Spyre that require careful review
/vllm_spyre @yannicks1 @tdoublep @nikolaospapandreou @sducouedic

# TODO: separate code into different packages:
#   /vllm_spyre/v1/worker/continuous_batching @nikolaospapandreou
#   /vllm_spyre/v1/worker/static_batching ...

# Tests
/tests @rafvasq @prashantgupta24 @sducouedic

# Examples
/examples @yannicks1 @prashantgupta24 @sducouedic

# Docs
/docs @rafvasq
.readthedocs.yaml @rafvasq
mkdocs.yaml @rafvasq

# CI
/.github @joerunde @ckadner
