Repository vllm-project/vllm-spyre, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joerunde, @prashantgupta24, @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic, @rafvasq, @ckadner

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# These owners will be the default owners for everything in the repo
# and will be requested for review when someone opens a pull request
# unless a later match takes precedence
* @joerunde @prashantgupta24

# This lists cover the "core" components of vLLM-Spyre that require careful review
/vllm_spyre @yannicks1 @tdoublep @nikolaospapandreou @sducouedic

# TODO: separate code into different packages:
#   /vllm_spyre/v1/worker/continuous_batching @nikolaospapandreou
#   /vllm_spyre/v1/worker/static_batching ...

# Tests
/tests @rafvasq @prashantgupta24 @sducouedic

# Examples
/examples @yannicks1 @prashantgupta24 @sducouedic

# Docs
/docs @rafvasq
.readthedocs.yaml @rafvasq
mkdocs.yaml @rafvasq

# CI
/.github @joerunde @ckadner

yet another new param
  tests/spyre_util.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

:bug: fixed static batch warmup
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

:bug: fixed static batch warmup (#246)
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

initialize missing pooling_params
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

remove duplicated extra_kwargs
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

fix: merge with main
  vllm_spyre/model_executor/model_loader/spyre.py
  vllm_spyre/platform.py
  vllm_spyre/v1/worker/spyre_input_batch.py
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

fix: renamed variable
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

fix: default parameter for CachedRequestState
  tests/v1/worker/test_spyre_input_batch.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

Add vllm benchmarking script and start script
  examples/online_inference/spyre_vllm_benchmark.py
  examples/online_inference/vllm_start_bare_metal.sh
Owners: @yannicks1, @prashantgupta24, @sducouedic

🚧 changes for tiny-granite
  tests/e2e/test_spyre_cb.py
  tests/spyre_util.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

Linting changes
  examples/online_inference/spyre_vllm_benchmark.py
  examples/online_inference/vllm_start_bare_metal.sh
Owners: @yannicks1, @prashantgupta24, @sducouedic

Fix unintended bug due to double quoting requirement
  examples/online_inference/vllm_start_bare_metal.sh
Owners: @yannicks1, @prashantgupta24, @sducouedic

:arrow_up: upgrade base image for release
  docker/Dockerfile.amd64
Owners: @joerunde, @prashantgupta24

:arrow_up: upgrade base image for release (#250)
  docker/Dockerfile.amd64
Owners: @joerunde, @prashantgupta24

:bug: remove DT_OPT from image
  docker/Dockerfile.amd64
Owners: @joerunde, @prashantgupta24

Remove unused DT_OPT (#251)
  docker/Dockerfile.amd64
Owners: @joerunde, @prashantgupta24

[Priority merge] NewRequestData parameter introduced in vllm upstream (#245)
  tests/spyre_util.py
  vllm_spyre/v1/worker/spyre_model_runner.py
  vllm_spyre/v1/worker/spyre_worker.py
Owners: @rafvasq, @prashantgupta24, @sducouedic, @yannicks1, @tdoublep, @nikolaospapandreou

make right padding default
  vllm_spyre/envs.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

🎨 add tokenizer
  tests/e2e/test_spyre_cb.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

revert homogeneous tkv model runner changes to be 100% the same as on main
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

refact: more
  vllm_spyre/v1/worker/spyre_input_batch.py
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

remove left padding completely for heterogeneous tkv (no use case)
  tests/e2e/test_spyre_cb_heterog_tkv.py
  vllm_spyre/envs.py
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @rafvasq, @prashantgupta24, @sducouedic, @yannicks1, @tdoublep, @nikolaospapandreou

Add testing for dummy request creation
  tests/e2e/test_spyre_dummy_request.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

update heterogeneous test manually with the latest updates on main for homogeneous
  tests/e2e/test_spyre_cb_heterog_tkv.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

fix: req_id_to_index in CBSpyreModelRunnerOutput
  vllm_spyre/v1/worker/spyre_input_batch.py
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

🚧 wip
  tests/e2e/test_spyre_cb.py
  tests/spyre_util.py
  tests/utils/test_spyre_model_list.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

🔥 remove commented code
  tests/e2e/test_spyre_cb.py
  tests/spyre_util.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

🎨 make split param
  tests/spyre_util.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

⏪ revert test condition
  tests/e2e/test_spyre_cb.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

🐛 add VLLM_SPYRE_TEST_MODEL_DIR
  tests/utils/test_spyre_model_list.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

enforce right padding in example
  examples/offline_inference/cb_spyre_inference.py
Owners: @yannicks1, @prashantgupta24, @sducouedic

enabel only last token by default for CB
  vllm_spyre/model_executor/model_loader/spyre.py
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

check if enough blocks in scheduler
  vllm_spyre/v1/core/scheduler.py
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

read block size from platform class
  vllm_spyre/model_executor/model_loader/spyre.py
  vllm_spyre/platform.py
  vllm_spyre/v1/core/scheduler.py
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

🚧 use basic output verification for now
  tests/e2e/test_spyre_cb.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

fix: avoid KeyError when cancelling requests that have not been processed
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

use .pop instead of del to remove from dict
  vllm_spyre/v1/worker/spyre_model_runner.py
Owners: @yannicks1, @tdoublep, @nikolaospapandreou, @sducouedic

add asyncio_default_fixture_loop_scope config to remove warning
  pyproject.toml
Owners: @joerunde, @prashantgupta24

fix: support V0 has_unfinished_requests
  tests/e2e/test_spyre_async_llm.py
Owners: @rafvasq, @prashantgupta24, @sducouedic

test: add async llm test for cancellation
  pyproject.toml
  tests/e2e/test_spyre_async_llm.py
  uv.lock
Owners: @joerunde, @prashantgupta24, @rafvasq, @sducouedic
